root = true

[*]
indent_size = 4
indent_style = space
charset = utf-8
max_line_length = 120
end_of_line = crlf
insert_final_newline = true

call_arg_parentheses = always
align_function_params = true

space_around_table_field_list = true
trailing_table_separator = smart
break_all_list_when_line_exceed  = true

break_before_braces = true
